<main class="container">
  <div class="product-detail-card">
    <h1>{{product.title}}</h1>
    <p>{{product.description}}</p>
    <ul>
      <li><strong>Precio:</strong> ${{product.price}}</li>
      <li><strong>Categoría:</strong> {{product.category}}</li>
      <li><strong>Stock:</strong> {{product.stock}}</li>
      <li><strong>Código:</strong> {{product.code}}</li>
    </ul>
    <button class="btn add-to-cart" data-pid="{{product._id}}">
      Agregar al carrito
    </button>
    <a href="/view/products" class="btn">Volver</a>
  </div>
</main>
