<main class="products-grid">
  {{#if products.length}}
    {{#each products}}
      <div class="product-card">
        <h2>{{this.title}}</h2>
        <div class="body">
          <p><strong>Precio:</strong> ${{this.price}}</p>
          <p><strong>Categoría:</strong> {{this.category}}</p>
        </div>
        <div class="footer">
          <button class="btn add-to-cart" data-pid="{{this._id}}">
            Agregar al carrito
          </button>
        </div>
      </div>
    {{/each}}
  {{else}}
    <p>No hay productos aún.</p>
  {{/if}}
</main>
<script src="/js/homeCart.js"></script>